body {
  background-color:rgb(52, 58, 61);
  color: white;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(245, 243, 243);
  width: 300px;
  height: 300px;
  border-radius: 80%;
  
}

button{
  margin: 20px;
  background-color:black;
  border-radius: 30%;
  height: 40px;
  width: 50px;
  color: white;
}